#Population {display:flex; justify-content: space-around;}
#InfoTables {display: flex; justify-content: space-around;}
body {
    background-color:#97b4de;
}

tr:hover {background-color: #ddd;}
tr:nth-child(even){background-color: #7b989d;}

h1,h3,h4{
    color: rgba(65, 232, 175, 0.97);
    text-shadow: 0 0 15px #d12626, 0 0 10px #000000;
    text-align: center;
}

table{
    padding: 15px;
    vertical-align: inherit;
    border: outset;
    table-layout: auto;
    text-shadow: 0 0 15px #c4d126, 0 0 10px #ffffff;
    color: #4d2929;
    width: 50%;   
}


td{
    align-self: center;
    height: 50px;
    width: 75px;
    vertical-align: bottom;
    font-variant-caps: small-caps;
}
thead {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #121512;
    color: white;
    font-weight: bolder;

}
h2{
    text-decoration: underline;
    text-decoration-color: blueviolet;
    text-shadow: 0 0 15px #e7e6e6, 0 0 10px #000000;
    text-align: center;
    font-style: italic;
}
ol {
    text-shadow: 0 0 15px #b08a8a, 0 0 10px #3e454e;
    color: oldlace;
    font-style: italic;
    font-family: cursive;
    font-family: auto;
    font-weight: 500;
}
