/*body {
    background-color:#bcbec1;
}*/
/*img {
  border-radius: 50%;
}*/
html {
    background-image: url('backimage.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: top;
    background-size: 100% 100%;
    
}
.Home_body_act main,.Home_body_index main {
    background-image: url('westbayclublogo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: 40% 65%;
}
.Home_body_about main{
    background-image: url('ClubBanner2.jpg');
    background-repeat: no-repeat;
/*
    background-attachment: fixed; 
*/
    background-position: bottom;
    background-size: 100% 100%;
}

header h1 {
    color: #149bf1;
    -webkit-font-smoothing: antialiased;
    font-style: italic;
    font-family: cursive;
    font-size: -webkit-xxx-large;
    font-weight: bolder;
    text-align: center;
}
main h1 {color: floralwhite;}
h1 {

    text-shadow: 0 0 15px #d12626, 0 0 10px #000000;
}
header nav,footer,main {
    background-color:#dddfff;
}
footer {
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    background-color: azure;
}
nav,main {
    border: 2px solid #ad5959;   
    border-radius: 25px;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-right: 10%;
    margin-left: 50px;   
}
main {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    
}
nav {
    font-family: initial;    
    border-style: dashed;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    max-width: 140px;
    height: 110px;
}
ul {
    list-style-type: none;
}

a:hover {
    background-color: springgreen;
}
a:visited {
    color: black;
}
a.active{   
  background-color: springgreen;
}